# play button

#button texture file
texture = hard_medium_easy.png

#src rect for idle state
idle.x = 0
idle.y = 0
idle.w = 140
idle.h = 80

#src rect for pressed state
pressed.x = 160
pressed.y = 0
pressed.w = 140
pressed.h = 80

#font name
font = impact20.fnt

#pressin vector
pressin.x = 2
pressin.y = -2
#pressin.rot = -20.0